{% load i18n static inkscape timers %}

{% if item.is_removed %}
  <div class="galleryitem removed">
    <a class="link"><img src="{% static "images/removed.svg" %}"></a>
    <p class="label">[[ {% trans "Hidden" %} ]]</p>
    <p class="minitabs"></p>
  </div>
{% elif item.is_visible %}
  {% track_object item %}
  <div class="galleryitem{% if not item.published %} unpublished{% endif %} {{ item.extra_css }}{% if object.is_voting %}{% if item.voted %} voted{% else %} notvoted{% endif %}{% endif %}" 
    title="{{ item.summary_string }}">
    <a class="link" href="{{ item.get_absolute_url }}">
      <img src="{{ item.thumbnail_url }}"/>
    </a>
    <p class="label"><a href="{{ item.get_absolute_url }}">{{ item.name|truncatechars:40 }}</a></p>
    <div class="minitabs">
      {% if item.extra_status %}
        {% with text=item.get_extra_status_display style=item.extra_css %}
          {% include "ribbon.html" %}
        {% endwith %}
      {% endif %}
      {% if request.user.is_authenticated and object.is_contest and object.is_voting %}
        {% if item.voted %}
          <a href="{% url "resource.like" item.pk "-" %}?next={{ request.path|urlencode }}" class="blank" title="{% trans "Remove vote" %}"><span class="votebox remove">●</span></a>
        {% else %}
          <a href="{% url "resource.like" item.pk "+" %}?next={{ request.path|urlencode }}" class="blank" title="{% trans "Vote for this" %}"><span class="votebox add">●</span></a>
        {% endif %}
        {% if object.user == request.user %}
          <span class="blank">{{ item.liked }}</span>
        {% endif %}
      {% elif not object.is_contest and item.user == request.user %}
        {% if gallery %}
          <a href="{% url "resource.move" item.pk gallery.pk %}">
            <img src="{% static "mime/banner/move.svg" %}" title="{% trans "Move to Gallery" %}">
          </a>
        {% else %}
          <a href="{% url "resource.copy" item.pk %}">
            <img src="{% static "mime/banner/copy.svg" %}" title="{% trans "Copy to Gallery" %}">
          </a>
        {% endif %}
        <a href="{% url "edit_resource" item.pk %}">
          <img src="{% static "mime/banner/edit.svg" %}" title="{% trans "Edit Resource" %}">
        </a>
      {% elif item.published %}
        <img src="{{ item.mime.banner }}" title="{{ item.mime.subtype }}">
        {% if item.license and item.license.banner %}
          <img src="{{ item.license.banner.url }}" title="{{ item.license }}">
        {% endif %}
      {% endif %}
    </div>
  </div>
{% elif not item.is_available %}
  <div class="galleryitem unavailable" title="{{ item.summary_string }}">
    <a class="link" href="{{ item.get_absolute_url }}"><img src="{% static "images/linked-image-not-found.png" %}"/></a>
    <p class="label"><a href="{{ item.get_absolute_url }}">{{ item.name|truncatechars:40 }}</a></p>
    <p class="minitabs"></p>
  </div>
{% endif %}
